/**
Dunkelblau: #334960
Mittelblau: #5383C6
Hellblau:
Dunkelgruen: #85D171
Mint: #38a390
Tuerkis: #2EADCA
**/

.caption {
    position: inherit;
}

/**
Navigation
**/
header h1 a {
    width: 302px;
    height: 50px;
    max-width: 100%;
}

header {
    background-color: #fff;
}

header h1 {
    padding-top: 20px;
    max-width: 30%;
}

.page1 .sf-menu li > a {
    color: #000;
}

.page1 .sf-menu .men a {
    color: #fff;
}

.page6 .sf-menu .men5 a {
    color: #fff;
}

.page6 .sf-menu li > a {
    color: #000;
}

.sf-menu > li .hover {
    background-color: #5383C6;
}

.sf-menu > li > a {
    color: #fff;
    padding-bottom: 10px;
}

.sf-menu > li > a:hover {
    color: #fff;
}

body {
    background: #fff;
}

.content:after {
    border-color: #fff transparent transparent transparent;
}

.socials1 .fa {
    width: 20px;
    font-size: 20px;
    padding: 8px 10px 8px 10px;
}

/*
.socials a, .socials1 a {
  background-image: none;
}*/

#page1 .socials i:hover {
    color: #38a390;
}

#page2 .socials1 i:hover {
    color: #334960;
}

#page1 .caption.banner.slide_0 h2 {
    background-color: #5383C6;
}

#page1 .caption.banner.slide_1 h2 {
    background-color: rgb(143, 197, 122);
}

#page1 .caption.banner.slide_2 h2 {
    background-color: #32ac97;
}

#page1 .caption.banner.slide_3 h2 {
    background-color: #334960;
}

header.page2 {
    background-color: #629dea;
}

#page2 {
    background-color: #629dea;
}

#page3:after {
    border-color: #629dea transparent transparent transparent;
}

#page2 .box {
    background-color: transparent;
    border: 3px solid #85D171;
    padding: 23px 0 24px;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

#page2 .box img {
    border: 3px solid #85D171;
}

#page2 .socials .fa {
    color: #85D171;
    border: 2px solid #85D171;
}

#page2 h3 em {
    background-color: #2aae96;
}

#page2 .zerogrid .col-1-4 {
    float: inherit;
}

#page2 .socials1 a {
    padding-right: 10px;
}

#page2 .socials1 {
    min-height: 32px;
    border-color: #85D171;
}

#page3 .box {
    background-color: #38a390;
}

#page3 .box.maxheight1 {
    height: 380px;
}

header.page4 {
    background-color: #334960;
}

#page4 {
    background-color: #334960;
}

#page4 .companies a {
    color: #3f9fc9;
}

#page4 .companies a:hover {
    color: #fff;
}

#page5::after {
    border-color: #334960 transparent transparent transparent;
}

#page5 h3 {
    margin-bottom: 108px;
}

#page5 .companies a {
    color: #334960
}

#page5 .companies a:hover {
    color: #fff
}

#page6::after {
    border-color: #3f9fc9 transparent transparent transparent;
}

#page6 h3 {
    background-color: #3f9fc9;
    display: inline;
}

#page6 p {
    margin-top: 108px;
    color: #334960;
}

#page6 .map {
    color: #334960;
}

header.page6 .men5 .hover {
    top: 0;
}

footer .copy {
    color: #3c7f9f;
}