/**
Dunkelblau: #334960
Mittelblau: #5383C6
Hellblau:
Dunkelgruen: #85D171
Mint: #38a390
Tuerkis: #2EADCA
**/

.caption {
    position: inherit;
}

/**
Navigation
**/
header h1 a {
    width: 302px;
    height: 50px;
    max-width: 100%;
}

header {
    background-color: #fff;
    padding-bottom: 0;
}

header.page4 .hover {
    background-color: #629DEA;
}

header h1 {
    padding-top: 20px;
    max-width: 30%;
}

header .sf-menu a {
    color: #334960;
}

header .sf-menu a:hover {
    color: #fff;
}

.page2 .sf-menu a, .page3 .sf-menu a, .page4 .sf-menu a, .page5 .sf-menu a {
    color: #fff
}

body {
    background: #fff;
}

.content:after {
    border-color: #fff transparent transparent transparent;
}

.socials1 .fa {
    width: 20px;
    font-size: 20px;
    padding: 8px 10px 8px 10px;
}

#page1 .socials i:hover{
    color: #2AAE96;
}

#page2 .socials1 i:hover {
    color: #334960;
}

.socials1 a:hover {
    opacity: 1;
}

.page1 .men a, .page6 .men5 a {
    color: #fff;
}

.page3 .men2 a {
    color: #334960;
}

#page3 .slogan h3 {
    background-color: #629DEA;
    display: inline-block;
}

#page1 .caption h2 {
    text-align: left;
    margin-left: 10px;
    left: 20px;
    padding-left: 20px;
    display: inline-block;
}

#page1 .caption.banner.slide_0 h2 {
    background-color: #5383C6;
}

#page1 .caption.banner.slide_1 h2 {
    background-color: rgb(143, 197, 122);
}

#page1 .caption.banner.slide_2 h2 {
    background-color: #32ac97;
}

#page1 .caption.banner.slide_3 h2 {
    background-color: #334960;
}

header.page2 {
    background-color: #629dea;
}

#page2 {
    background-color: #629dea;
}

#page3:after {
    border-color: #629dea transparent transparent transparent;
}

#page2 .box {
    background-color: transparent;
    border: 3px solid #85D171;
    padding: 23px 0 24px;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

#page2 .box img {
    border: 3px solid #85D171;
}

#page2 .socials .fa {
    color: #85D171;
    border: 2px solid #85D171;
}

#page2 h3 em {
    background-color: #334960;
    margin-top: 5px;
}

#page2 .zerogrid .col-1-4 {
    float: inherit;
}

#page2 .socials1 a {
    padding-right: 10px;
}

#page2 .socials1 {
    min-height: 32px;
    border-color: #85D171;
}

#page3 .box {
    background-color: #629DEA;
}

#page3 .box p {
    font-size: medium;
    margin: 20px;
}

#page3 .box.maxheight1 {
    height: 380px;
}

header.page4 {
    background-color: #334960;
}

#page4 {
    background-color: #334960;
}

#page4 .companies a {
    color: #3f9fc9;
}

#page4 .companies a:hover {
    color: #fff;
}

#page5::after {
    border-color: #334960 transparent transparent transparent;
}

#page5 h3 {
    margin-bottom: 108px;
}

#page5 .companies a {
    color: #334960
}

#page5 .companies a:hover {
    color: #fff
}



#page6::after {
    border-color: #3f9fc9 transparent transparent transparent;
}

#page6 h3 {
    background-color: #3f9fc9;
    display: inline;
}

#page6 p {
    margin-top: 108px;
    color: #334960;
}

#page6 .map {
    color: #334960;
}

header.page6 .men5 .hover {
    top: 0;
}

footer .copy {
    color: #3c7f9f;
}

#jobs h3 {
    background-color: #3c7f9f;
}

#jobs .text1 {
    padding-top: 80px;
    color: #3c7f9f;
}

#jobs .text1.formhead {
    padding-top: 0;
    color: #fff;
}

@media only screen and (max-width: 420px) {
    header h1 {
        padding-top: 0;
        max-width: 40px;
    }

    header .wrap-col h1 a {
        max-width: 30px;
    }

    header h1 a img {
        position: absolute;
        clip: rect(0, 49px, 27px, 0);
        height: 27px;
    }
}